@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url('../imgs/fundogeral.jpg') center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

section#telefone {
    height: 55vh; /* Ajuste a altura para ser responsiva */
    width: 80%; /* Ajuste a largura para ser responsiva */
    max-width: 400px; /* Limite máximo */
    background: url('../imgs/telefone.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; /* Espaço entre seções */
}

iframe#tela {
    width: 100%; /* Ajuste a largura para ser responsiva */
    height: 60%; /* Ajuste a altura para ser responsiva */
}

section#redes-sociais {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os ícones se movam para a linha seguinte se não houver espaço */
}

section#redes-sociais img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 20%;
    box-shadow: 2px 2px 5px rgba(19, 18, 18, 0.432);
    transition: transform 0.3s, border 0.3s;
}

section#redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.281);
    box-shadow: 5px 5px 10px rgba(19, 18, 18, 0.603);
    transform: translate(-3px, -3px);
}

/* Media Queries para responsividade */
@media (max-width: 768px) {
    section#telefone {
        width: 90%; /* Aumenta a largura em telas menores */
    }

    iframe#tela {
        height: 50%; /* Ajusta a altura do iframe */
    }

    section#redes-sociais img {
        width: 40px; /* Reduz o tamanho dos ícones em telas menores */
        height: 40px;
    }
}